.bt{
    background-color: rgb(48, 40, 40);
    color: white;
    border-radius:4px solid white;
    ;
}
.dropdown-menu{
    list-style: none;
}
.dropdown{
    list-style: none;
}
.lead {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
.carousel-item{
height:400px;
width:100%;
}